<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View Visitor - Visitor Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Visitor Details</h1>

    <p>View visitor information</p>

    <hr>

    <p>
        <strong>Visitor ID:</strong>
        V{{ "%03d" | format(visitor.visitor_id) }}
    </p>

    <p>
        <strong>Name:</strong>
        {{ visitor.name }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ visitor.phone }}
    </p>

    <p>
        <strong>Email:</strong>
        {{ visitor.email }}
    </p>

    <p>
        <strong>Purpose:</strong>
        {{ visitor.purpose }}
    </p>

    <br>

    <a href="{{ url_for('visitors') }}">← Back to Visitors</a>

</div>

</body>
</html>